*{
	margin: 0;
	padding: 0;
}
p,a,font,h1,h2,h3,h4,h5,h6,input,span,li,button{
	font-family: 'Noto Sans SC', sans-serif;font-weight:700;
}
.exlg-bgcol-blue1{
	background-color: #7bb9ec;
}
.exlg-bgcol-blue2{
	background-color: #00a2e8;
}
.exlg-bgcol-blue3{
	background-color: #3f48cc;
}
.exlg-bgcol-white{
	background-color: #ffffff;
}
.exlg-bgcol-grey{
	background-color: #6c6c6c;
}
.exlg-col-blue1{
	color: #7bb9ec;
}
.exlg-col-blue2{
	color: #00a2e8;
}
.exlg-col-blue3{
	color: #3f48cc;
}
.exlg-col-white{
	color: #ffffff;
}
.exlg-col-grey{
	color: #6c6c6c;
}

.line{
	margin-top: 1vw;
	margin-bottom: 1vw;
	height: 0.5vw;
	width: 50vw;
	margin-left:8vw;
}
.linein{
	margin-top: 1vw;
	margin-bottom: 1vw;
	height: 0.5vw;
	width: 50vw;
	/* margin-left:8vw; */
}
.linesh{
	height: 0.5vw;
	width: 50vw;
	/* margin-left:8vw; */
}
.linetitle{
	margin-top: 2.5vw;
}
.txt-bt{
	font-size: 2.5vw;
}
.txt-bt:before{
	content: "▶ ";
	color: #3F48CC;
}
.txt-zw{
	font-size: 1.5vw;
	line-height: 3.5vw;
}
.txt-bz{
	font-size: 1.25vw;
	line-height: 3.5vw;
	background: linear-gradient(to right,#3F48CC, #00a2e8);
	padding-left: 1vw;
	color: white;
}
.txt-bz:before{
	content: "* ";
}
.txt-a{
	margin: 0 0.5vw;
	color: #3F48CC;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
}
/* .txt-bt a:visited,.txt-bz a:visited,.txt-zw a:visited{
	color: #040d61;
} */
.txt-a:hover{
	color: #00A2E8;
}
.sing-a{
	font-size: 1.5vw;
	line-height: 3.5vw;
}
.txt-htkt:before{
	content:"“ ";
	font-size: 2.5vw;
	color: #3F48CC;
}



body{
	height: 100%;
	width: 100%;
	/* background: url(../img/index_bg.png); */
	background-size: 70%;
	background-repeat: no-repeat;
	overflow-y: scroll;
}
.bgimg{
	height: 90vh;
	width: 90vw;
	background: url("https://s2.loli.net/2021/12/12/TAZzygBW9cnYFkR.png");
	background-size: 70vw;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	z-index: -1;
	/* display: inline-flex; */
	float: left;
}
.fascinated{
	background: url("https://s2.loli.net/2021/12/12/4JrwkCMXeQZjgby.png");
	background-size: 70vw;
	background-repeat: no-repeat;
}
.sakural{
	background: url("https://s2.loli.net/2021/12/12/ZdGj3rsaJnmH1Tt.png");
	background-size: 70vw;
	background-repeat: no-repeat;
}
.fallal{
	background: url("https://s2.loli.net/2021/12/12/dzGlrs1QNaYDy4B.png");
	background-size: 70vw;
	background-repeat: no-repeat;
}
.birthal{
	background: url("https://s2.loli.net/2021/12/12/kUj54FvKfoGgVHe.png");
	background-size: 70vw;
	background-repeat: no-repeat;
}
.menuul{
	position: fixed;
	top:5vw;
	right:9vw;
	list-style: none;
}
.menuul li{
	height: 5vw;
	width: 10vw;
	margin-bottom: 2vw;
}
.menuul li button{
	height: 5vw;
	width: 15vw;
	border: none;
	border-radius: 0.5vw;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	cursor: pointer;
}
.menuul li button:hover{
	background-color: #7BB9EC !important;
}
.menuul li button p{
	font-size: 1.5vw;
}
.checked{
	background-color: #7BB9EC !important;
}
.checked p{
	color: #3F48CC;
}
.maker-infor{
	position: absolute;
	left: 8vw;
	bottom: 4vw;
	font-size: 1vw;
}
.maker-info{
	margin-left: 8vw;
	font-size: 1vw;
	margin-bottom: 3vw;
}
.title{
	margin-top:22vw;
	margin-left:41vw;
	font-size: 5vw;
	font-family: 'Noto Sans SC', sans-serif !important;font-weight:900;
}
.content{
	width: 70vw;
	margin-left: 8vw;
	height: auto;
	margin-bottom: 5vw;
}
.minstdfx{
	display: none;
}


/*night mode*/
body.night{
	/* z-index: 1000; */
	background: #272822;
}
/* .nightbg.night{
	height: 100vh;
	width: 100vw;
	background: #272822;
	z-index: -1;
	position: relative;
	top: 0;
	left: 0;
} */
.title.night{
	/* text-shadow:  1px 1px 10px #fff;
	 col*/
	 color: #FFFFFF;
}
.content.night{
	color: #FFFFFF;
}
html.pray{
	-webkit-filter: grayscale(100%);
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}


::-webkit-scrollbar{
   width: 6px;
   height: 10px;
   background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track{
   background-color: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb{
   background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover{
   background-color:  #3F48CC;
}