.cul{
	list-style: none;
	height: 45vw;
	margin-top: 1vw;
}
.cul li{
	height:5vw;
	width: 40%;
	padding-top: 1vw;
	padding-bottom: 1vw;
	background-color: #3F48CC;
	margin-bottom: 1vw;
	border-radius: 0.5vw;
	float: left;
	margin-right: 2vw;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}
.cul li:hover{
	background-color: #00A2E8;
}
.cul li a{
	display: block;
	height: 5vw;
	width: 100%;
}
.cul li img{
	height: 4vw;
	width: 4vw;
	display: inline-block;
	margin-left: 1vw;
	/* box-shadow: 0 0.2vw 0.4vw #fff;
	 */
	border: 2px solid white;
	margin-top: 0.5vw;
	margin-bottom: -1.5vw;
	border-radius: 2vw;
}
.cul li p{
	display: inline-block;
	color: white;
	line-height: 5vw;
	font-size: 2vw;
	/* margin-bottom: 1vw; */
	margin-left: 2vw;
	
}
.hitokoto{
	height: 5vw;
	width: 15vw;
	border: none;
	border-radius: 0.5vw;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	cursor: pointer;
}
.hitokoto p{
	font-size: 2vw;
	line-height: 5vw;
	text-align: center;
}
.hitokoto:hover{
	background-color: #00A2E8;
}
.cheer{
	background-color: #e68916 !important;
}
.cheer:hover{
	background-color: #fcbd00 !important;
}