body{
	height: 100%;
	width: 100%;
	background: url(../img/index_bg.png);
	background-size: 70%;
	background-repeat: no-repeat;
}

.menuul{
	position: absolute;
	position: fixed;
	top:5vw;
	right:9vw;
	list-style: none;
}
.menuul li{
	height: 5vw;
	width: 10vw;
	margin-bottom: 2vw;
}
.menuul li button{
	height: 5vw;
	width: 15vw;
	border: none;
	border-radius: 0.5vw;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	cursor: pointer;
}
.menuul li button:hover{
	background-color: #7BB9EC !important;
}
.menuul li button p{
	font-size: 1.5vw;
}
.checked{
	background-color: #7BB9EC !important;
}
.checked p{
	color: #3F48CC;
}

.title{
	margin-top:22vw;
	margin-left:41vw;
	font-size: 5vw;
	font-family: shsheavy !important;
}
.content{
	width: 70vw;
	margin-left: 8vw;
	height: auto;
	margin-bottom: 5vw;
}
.maker-info{
	margin-left: 8vw;
	font-size: 1vw;
	margin-bottom: 3vw;
}
.money{
	display: block;
	width: 50vw;
	height: 20vw;/*这是按照图片比例算的 别动*/
	background: url(../img/aifadian.png) no-repeat;
	background-size: 50vw;
	margin: 1vw 0;
	border-radius: 2vw;
	box-shadow: 0 0.4vw 0.8vw #999;
	/* cursor: pointer; */
}