
.money{
	display: block;
	width: 50vw;
	height: 20vw;/*这是按照图片比例算的 别动*/
	background: url("https://s2.loli.net/2021/12/12/GdLO4a3b5wN67Qh.png") no-repeat;
	background-size: 50vw;
	margin: 1vw 0;
	border-radius: 2vw;
	box-shadow: 0 0.4vw 0.8vw #999;
	/* cursor: pointer; */
}


.cul{
	list-style: none;
	height: 26vw;
	/* display: block; */
	margin-top: 1vw;
}
.cul li{
	height: 5.5vw;
	width: 40%;
	padding-top: 1vw;
	padding-bottom: 1vw;
	background-color: #ff955b;
	margin-bottom: 1vw;
	border-radius: 0.5vw;
	float: left;
	margin-right: 2vw;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}
.cul li:hover{
	background-color: #ffc152;
}
.cul li a{
	display: block;
	height: 5.5vw;
	width: 100%;
}
.cul li p{
	display: inline-block;
	color: white;
	line-height: 0.7vw;
	font-size: 1vw;
	/* margin-bottom: 1vw; */
	margin-left: 2vw;
}
.monier-name{
	font-size: 2.5vw !important;
	line-height: 3.5vw !important;
}
.content span{
	line-height: 3vw;
	font-size: 1.5vw;
	padding-left: 2vw;
	display:inline-block;
	height:3vw;
}
/* .content span:before{
	content: "● ";
	color: black;
	font-size: 1vw;
	line-height: 3vw;
	padding-left: 1vw;
	padding-right: 1vw;
} */
.content input{
	height: 2vw;
	padding:0.25vw 1vw;
	/* margin-bottom:0.2vw; */
}
.jrg{
	padding-bottom: 1vw;
}
.content button{
	margin-left: 2vw;
	height: 3vw;
	width:auto;
	font-size:1.5vw;
	background: #3f48cc;
	padding:0 1vw;
	border:none;
	color:white;
	cursor:pointer;
	border-radius:0.5vw;
	margin-top:0.5vw;
}
.content button:hover{
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	background: #00a2e8;
}