
.slogan{
	position: absolute;
	top: 32vw;
	left: 8vw;
	font-size: 3vw;
}
.install-but{
	position: absolute;
	height: 6vw;
	width: 25vw;
	top:23vw;
	left:41vw;
	border: none;
	border-radius: 0.5vw;
	cursor: pointer;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}
.install-but:hover{
	background-color: #00A2E8;
}
.install-but p{
	font-size: 2vw;
	line-height: 6vw;
	display: inline-block;
	margin-right: 1vw;
/* 	margin-bottom: 1vw; */
}
.install-but svg{
	height: 4vw;
	width: 4vw;
	/* float: left; */
	margin-bottom: -1vw;
}
